3. PID03
Create cheat sheet for python pandas function by applying following operation on Anime
Recommendations Database which can be downloaded from kaggle
repository(https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database). This
data set contains information on user preference data from 73,516 users on 12,294 anime. Each user is
able to add anime to their completed list and give it a rating and this data set is a compilation of those
 ratings.bold text

**A. Convert a CSV file directly into a data frame**

In [ ]:
import pandas as pd
df = pd.read_csv('/content/anime.csv')
df

In [ ]:
df1 = pd.read_csv('/content/rating.csv')
df1

**B. Concatenate 2 dataframes**

In [ ]:
vertical_concat = pd.concat([df, df1], axis=0) #Concatenating along row
horizontal_concat = pd.concat([df, df1], axis=1) #concatenating along column
display(vertical_concat, horizontal_concat)

**C. Merge dataframes**

In [ ]:
newdf1 = df.merge(df1,how='right')
newdf1.head()

In [ ]:
newdf4 = df.merge(df1,how='left')
newdf4.head()

In [ ]:
newdf3 = df.merge(df1)
newdf3.head()

**D. Retrieve rows with matching index values(explicit index)**

In [ ]:
df2=newdf3.loc[:,["anime_id","rating"]]
df2.head()

**E. Retrieve rows by numbered index values(implicit index)**

In [ ]:
df2=newdf3.iloc[:,[1,2,4]]
df2.head()

**F.Retrieve rows where a columnâ€™s value is in a given list**

In [ ]:
newdf3.iloc[[3,8,9],[1,3,4]]

**G.Slice a data frame to get all rows before/between/after specified indices**

In [ ]:
newdf3.iloc[:,:3].head()

In [ ]:
newdf3.iloc[:,5:7].head()

In [ ]:
newdf3.iloc[:,7:].head()

**H. Filter data frame for rows that meet a condition**

In [ ]:
newdf3[newdf3["name"] == 'City Hunter'].head()

**I. Sort data frame by values in a column.**

In [ ]:
newdf3.sort_values(by="rating") .head()

**J. Count number of records for each distinct value in a column.**

In [ ]:
n = newdf3.nunique(axis=0)
n

In [ ]:
n = newdf3.nunique(axis=1)
n

**K. Groupby and aggregate columns in different ways**

In [ ]:
grouped_multiple = df.groupby(['anime_id','type']).agg({'rating': ['mean', 'min', 'max']})
grouped_multiple.columns = ['rating_mean', 'rating_min', 'rating_max']
grouped_multiple = grouped_multiple.reset_index()
print(grouped_multiple)

**L. Create a pivot table**

In [ ]:
table = pd.pivot_table(data=newdf3,index=['episodes'],aggfunc='sum')
table

**M. Set NaN cells to some value**

In [ ]:
newdf3.isnull()

In [ ]:
newdf1.head()

In [ ]:
newdf1.fillna(0).head()

In [ ]:
newdf4.head()

In [ ]:
newdf4.fillna(method='ffill',axis=1).head()